<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" {% comment %} only emit data-theme if non-empty {%
    endcomment %} {% assign chosen=page.theme | default: site.theme_options.default_theme | default: '' %} {% if chosen
    !='' %} data-theme="{{ chosen }}" {% endif %}>

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    <br />
    {% include footer.html %}
    <br />

    {% if site.theme_options.show_theme_box %}
    {% include theme-infobox.html %}
    {% include debug-toggle.html %}
    {% endif %}

    <script defer src="{{ '/assets/js/monospace.min.js' | relative_url }}"></script>
</body>

</html>